<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	


<import resource="classpath:config/beans2.xml"/>
	
	<bean id="hello" class="com.study.spring.Hello">
		<property name="name" value="홍길동"/>
		<property name="nickname">
			<value>전우치</value>
		</property>
		<property name="printer" ref="printerA"/>
		
		<!--  <property name="printer">
			<ref bean="printerB"/>
		</property>   -->
	</bean>
	

</beans>

<!-- bean.xml을 보고 빈태그를 보고  만들어야할것을 본다 아하 이런 프로퍼티를 보고 채워달라는 뜻이로 생각함  -->
<!--  프린터는 객체이기 때문에 ref 로 넣는다  그리고 밑에 bean을 보고 안다  -->
<!--  총 빈태그 3개를 보고 3개를 만ㄷ르어준다  -->
